<h2>Details</h2>



     <p>Title:{{oneMovie.title}}</p>
     <p>Genre:{{oneMovie.genre}}</p>
     <p>Description:{{oneMovie.plot}}</p>
    
   
<p>Cast:</p>
<ul>
{{#each oneMovie.cast}}
    <li>{{this.name}}, {{this.occupation}}, {{this.catchPhrase}}</li>
{{/each}}
</ul>
<form action="/movies/{{oneMovie._id}}/delete" method="POST">
    <button class="btn btn-outline-danger">Delete Movie</button>
</form>

<a href="/movies/{{oneMovie._id}}/edit"><button>Edit the Movie</button></a>
<br>

<hr>
<a href="/movies"><button class="btn btn-outline-success">Back to Movies list</button></a>

  

